<footer>
  <div class="container">
    <div class="footer-content">
      <div class="left-side">
        <a class="logo-box" href="">
          <img src="../../assets/images/STLOGO.png" alt="STLOGO" />
        </a>
        <p>
          We are a residential interior design firm located in Portland. Our
          boutique-studio offers more than
        </p>
      </div>
      <div class="middle">
        <h4>Services</h4>
        <a href="#">Bonus program</a>
        <a href="#">Gift cards</a>
        <a href="#">Credit and payment</a>
        <a href="#">Service contracts</a>
        <a href="#">Non-cash Account</a>
        <a href="#">Payment</a>
      </div>
      <div class="right-side">
        <h4>Assistance to the buyer</h4>
        <a href="#">Find an order</a>
        <a href="#">Terms of delivery</a>
        <a href="#">Exchange and return of goods</a>
        <a href="#">Guarantee</a>
        <a href="#">Frequently asked questions</a>
        <a href="#">Terms of use of the site</a>
      </div>
    </div>
    <div class="social-icons">
      <a href="#"
        ><img src="../../assets/images/socialIcon/Twitter.png" alt="Twitter"
      /></a>
      <a href="#"
        ><img src="../../assets/images/socialIcon/fb.png" alt="Facebook"
      /></a>
      <a href="#"
        ><img src="../../assets/images/socialIcon/tikTok.png" alt="tikTok"
      /></a>
      <a href="#"
        ><img
          src="../../assets/images/socialIcon/Instagram.png"
          alt="Instagram"
      /></a>
    </div>
  </div>
</footer>
