<div class="category-container">
  <div class="container">
    <h2>Browse By Category</h2>
    <div class="category-boxes">
      <a [routerLink]="['/productList', 2]" class="category-card">
        <div>
          <img
            src="../../../../assets/images/categoryIcon/Phones.png"
            alt="categoryIcon"
          />
        </div>
        <h5>Phone</h5>
      </a>
      <a [routerLink]="['/productList', 1]" class="category-card">
        <div>
          <img
            src="../../../../assets/images/categoryIcon/Computers.png"
            alt="categoryIcon"
          />
        </div>
        <h5>Computers</h5>
      </a>
      <a [routerLink]="['/productList']" class="category-card">
        <div>
          <img
            src="../../../../assets/images/categoryIcon/Cameras.png"
            alt="categoryIcon"
          />
        </div>
        <h5>Cameras</h5>
      </a>
      <a [routerLink]="['/productList']" class="category-card">
        <div>
          <img
            src="../../../../assets/images/categoryIcon/Headphones.png"
            alt="categoryIcon"
          />
        </div>
        <h5>Headphones</h5>
      </a>
      <a [routerLink]="['/productList']" class="category-card">
        <div>
          <img
            src="../../../../assets/images/categoryIcon/Smart Watches.png"
            alt="categoryIcon"
          />
        </div>
        <h5>Smart Watches</h5>
      </a>
      <a [routerLink]="['/productList']" class="category-card">
        <div>
          <img
            src="../../../../assets/images/categoryIcon/Gaming.png"
            alt="categoryIcon"
          />
        </div>
        <h5>Gaming</h5>
      </a>
    </div>
  </div>
</div>
