<section>
  <div class="banner-container">
    <div class="banner">
      <img
        src="../../../../assets/images/banner/Group 1.png"
        alt="popular-products"
      />
      <div>
        <h3>Popular Products</h3>
        <p>
          iPad combines a magnificent 10.2-inch Retina display, incredible
          performance, multitasking and ease of use.
        </p>
        <app-shopbutton backgroundColorType="type2"></app-shopbutton>
      </div>
    </div>
    <div class="banner banner-2">
      <img
        src="../../../../assets/images/banner/image 41.png"
        alt="popular-products"
      />
      <div>
        <h3>Ipad Pro</h3>
        <p>
          iPad combines a magnificent 10.2-inch Retina display, incredible
          performance, multitasking and ease of use.
        </p>
        <app-shopbutton backgroundColorType="type2"></app-shopbutton>
      </div>
    </div>
    <div class="banner banner-3">
      <img
        src="../../../../assets/images/banner/image 64.png"
        alt="popular-products"
      />
      <div>
        <h3>Samsung Galaxy</h3>
        <p>
          iPad combines a magnificent 10.2-inch Retina display, incredible
          performance, multitasking and ease of use.
        </p>
        <app-shopbutton backgroundColorType="type2"></app-shopbutton>
      </div>
    </div>
    <div class="banner banner-4">
      <img
        src="../../../../assets/images/banner/Macbook 1.png"
        alt="popular-products"
      />
      <div>
        <h3>Macbook Pro</h3>
        <p>
          iPad combines a magnificent 10.2-inch Retina display, incredible
          performance, multitasking and ease of use.
        </p>
        <app-shopbutton backgroundColorType="type1"></app-shopbutton>
      </div>
    </div>
  </div>
</section>
