<div class="container">
  <div class="steps-box">
    <div [ngClass]="step1">
      <div class="step-img">
        <img src="../../../assets/images/checkOut/map.png" alt="map-icon" />
      </div>
      <div class="step-txt">
        <h5>Step 1</h5>
        <h4>Address</h4>
      </div>
    </div>
    <div [ngClass]="step2">
      <div class="step-img">
        <img
          src="../../../assets/images/checkOut/shippingIcon.png"
          alt="shipping-icon"
        />
      </div>
      <div class="step-txt">
        <h5>Step 2</h5>
        <h4>Shipping</h4>
      </div>
    </div>
    <div [ngClass]="step3">
      <div class="step-img">
        <img
          src="../../../assets/images/checkOut/paymentIcon.png"
          alt="payment-icon"
        />
      </div>
      <div class="step-txt">
        <h5>Step 3</h5>
        <h4>Payment</h4>
      </div>
    </div>
  </div>
</div>
